@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src:url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', cursive;
    --fonteandroid: 'Android', cursive;
}

header {
    background-color: var(--cor4);
    text-align: center;
    min-width: 290px;
}

header > h1 {
    font-family: var(--fonteandroid);
    color: var(--cor0);
}

header > p {
    color: var(--cor0);
}

nav {
    background-color: var(--cor5);
    min-width: 290px;
}

nav > a {
    color: var(--cor0);
}

main {
    background-color: var(--cor4);
    max-width: 1000px;
    min-width: 290px;
    margin: auto;
}

h1 {
    font-family: var(--fontedestaque);
    color: var(--cor0);
}

h2 {
    color: var(--cor0);
}

h3 {
    color: var(--cor0);
}

p {
    color: var(--cor0);
}

li {
    color: var(--cor0);
}

img {
    width: 95%;
    align-items: center;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}

footer {
    background-color: var(--cor5);
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

a {
    color: var(--cor0);
}