@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src:url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', cursive;
    --fonteandroid: 'Android', cursive;
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    text-align: center;
    min-width: 290px;
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--fonteandroid);
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
    font-weight: normal;
}

header > p {
    color: white;
    text-align: center;
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.599);
    padding-bottom: 20px;
}

nav {
    background-color: var(--cor5);
    min-width: 290px;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.17);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    transition-duration: 0.2s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: var(--cor4);
    max-width: 1000px;
    min-width: 290px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 10px #063d1e84;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1 {
    font-family: var(--fontedestaque);
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

a.externo::after {
    content: '\0020\1F517';
}

main h1 {
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    padding: 3px 0px 2px 5px;
    font-weight: normal;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    padding: 3px 0px 4px 5px;
}

main p {
    color: var(--cor0);
    margin: 15px 2px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.5em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 4px;
}

main a {
    text-decoration: none;
    color: var(--cor1);
}

main a:hover {
    text-decoration: underline;
}

li {
    color: var(--cor0);
}

img {
    width: 95%;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}

div.video {
    position: relative;
    margin: 0px -20px 30px -20px;
    padding: 5px;
    padding-bottom: 56.25%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor3);
    padding: 7px 10px 1px 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.258);
}

aside ul {
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    color: white;
    columns: 2;
}

aside li {
    color: white;
}

aside h3 {
    background-color: var(--cor0);
    color: var(--cor5);
    padding: 7px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
}

aside > p {
    color: white;
}

footer {
    background-color: var(--cor1);
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 3px 3px 10px #063d1e84;
    text-align: center;
    font-size: 0.9em;
    padding: 3px;
    color: var(--cor4);
}

footer a {
    text-decoration: none;
    color: var(--cor5);
}

footer a:hover {
    text-decoration: underline;
    color: black;
}

a {
    color: var(--cor0);
}